/* Pallete of color vars */




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  box-sizing: content-box;
}

button{
  cursor: pointer;
  border: none;
}
h1,h2,h3,h4,h5,h6{
  color: rgb(29, 31, 58);
}
::before::after{
  content: inherit;
}
images{
  object-fit: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
